<div class="layout-container">
  <label for="">{{ 'paginator.itemsPerPage' | translate }}</label>

  <mat-paginator
    [length]="total$ | async"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="loadCollection($event)"
  ></mat-paginator>
  <div class="gallery" fxLayout="column" fxLayout.gt-sm="row wrap">
    <ng-container *ngFor="let collection of collections$ | async">
      <app-photo-list-item
        fxFlex
        fxFlex.gt-sm="28"
        fxFlex.gt-lg="20"
        [photo_url]="collection.cover_photo.urls.small"
        [photo_description]="collection.cover_photo.description!"
        [routerLink]="'/collections/collection/' + collection.id"
      >
        <p class="title">{{ collection.title }}</p>
        <div class="published">{{ 'components.shared.created' | translate }}: {{ collection.published_at | date }}</div>
        <div class="total-photos">{{ 'components.shared.images' | translate }}: {{ collection.total_photos }}</div>
      </app-photo-list-item>
    </ng-container>
  </div>
</div>
