<div class="layout-container">
  <app-search-input (newSearch)="handleSearch($event)"></app-search-input>

  <div
    class="gallery"
    fxLayout.sm="column"
    fxLayout.gt-sm="row wrap"
    infiniteScroll
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="2000"
    (scrolled)="onScrollDown()"
  >
    <ng-container *ngFor="let photo of results$ | async">
      <app-photo-list-item
        fxFlex
        fxFlex.gt-sm="28"
        fxFlex.gt-lg="20"
        [photo_url]="photo.urls.small"
        [photo_description]="photo.alt_description!"
        [routerLink]="'/collections/photo/' + photo.id"
      >
        <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="12px">
          <p>
            <mat-icon inline>favorite</mat-icon>
            {{ photo.likes }} {{ 'components.shared.likes' | translate }}
          </p>
        </div>
      </app-photo-list-item>
    </ng-container>
  </div>
</div>
