<div class="breadcrumbs">
  <a class="active"><span>Search</span></a>
</div>

<div class="layout-container">
  <form class="search-form" [formGroup]="searchForm" (keyup.enter)="newSearch()">
    <mat-form-field appearance="outline">
      <mat-icon matSuffix>search</mat-icon>
      <input matInput type="text" formControlName="search" placeholder="search a photo...">
    </mat-form-field>
  </form>

  <mat-progress-bar *ngIf="(results$ | async) === undefined"></mat-progress-bar>

  <div class="gallery" fxLayout.sm="column" fxLayout.gt-sm="row wrap">
    <ng-container *ngFor="let photo of results$ | async">
      <app-photo-list-item 
        fxFlex fxFlex.gt-sm="28" fxFlex.gt-lg="20" 
        [photo_url]="photo.urls.small"
        [photo_description]="photo.alt_description!" 
    >
      <p class="title">{{ photo.alt_description! | slice: 0 : 20 }}</p>
    </app-photo-list-item>
    </ng-container>
  </div>
</div>