<mat-toolbar>
  <span>Challenger</span>
</mat-toolbar>

<div class="breadcrumbs">
  <a routerLink="/"><span>Collections</span></a>
  <span> > </span>
  <a class="active"><span>Collection</span></a>
</div>

<div class="layout-container">
  <mat-progress-bar *ngIf="(photos$ | async) === undefined"></mat-progress-bar>

  <div class="gallery" fxLayout.sm="column" fxLayout.gt-sm="row wrap">
    <ng-container *ngFor="let photo of photos$ | async">
      <mat-card fxFlex fxFlex.gt-sm="28" fxFlex.gt-lg="20" class="gallery-item thumbnails" (click)="handleGotoPhoto(photo)">
        <img mat-card-image [src]="photo.urls.small" [alt]="photo.alt_description"/>
        <mat-card-content fxLayout="row" fxLayoutAlign="end" fxLayoutGap="12px">
          <p><mat-icon inline>favorite</mat-icon>
          {{photo.likes}} likes</p>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</div>
