<mat-toolbar>
  <span>Challenger</span>
</mat-toolbar>

<div class="breadcrumbs">
  <a routerLink="/"><span>Collections</span></a>
  <span> > </span>
  <a (click)="handleGotoCollection()"><span>Collection</span></a>
  <span> > </span>
  <a class="active"><span>Photo</span></a>
</div>

<div class="layout-container">
  <mat-progress-bar *ngIf="(photo$ | async) === undefined"></mat-progress-bar>

  <div class="gallery" fxLayout.sm="column">
    <mat-card *ngIf="(photo$ | async) as photo" fxFlex class="preview">
      <mat-card-header>
        <img mat-card-avatar [src]="photo.user.profile_image.medium">
        <mat-card-title>{{ photo.user.first_name }} {{ photo.user.last_name }}</mat-card-title>
        <mat-card-subtitle *ngIf="photo.user.location"><mat-icon inline>where_to_vote</mat-icon> {{ photo.user.location }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div fxFlex fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="24px">
          <div fxFlex fxLayoutAlign="start center">
            <p>{{ photo.description?.charAt(0)?.toUpperCase() }}{{ photo.description?.slice(1) }}</p>
          </div>
          <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="end">
            <p fxLayoutAlign="center"><mat-icon inline>favorite</mat-icon> {{ photo.likes }} likes
              &nbsp;|&nbsp;&nbsp; <mat-icon inline>visibility</mat-icon> {{ photo.views }} views</p>
          </div>
        </div>
      </mat-card-content>

      <img mat-card-image [src]="photo.urls.full" [alt]="photo.alt_description"/>
    </mat-card>
  </div>
</div>
