@use 'sass:map';
@use '@angular/material' as mat;

.mat-app-background {
  background-color: #e3e3e3;
}

.mat-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;

  a {
    margin: 0 4px;
  }
}

.mat-toolbar-multiple-rows {
  padding: 6px 0;
}

.themes {
  margin-left: auto;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

@media (min-width: 960px) {
  .mat-button.navbar-toggle {
    display: none;
  }
}

@media (max-width: 959px) {
  .mat-button.navbar-toggle {
    display: block;
  }

  .navbar {
    display: none;
  }
}

.res-navbar {
  flex-direction: column;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;

  a {
    display: block;
    text-align: left;
    padding: 12px;
  }
}


.mat-option span {
  color: #000000;
}

.language {
  font-size: 14px;
  padding: 0 16px;
}

.breadcrumbs {
  a {
    padding: 0;
    line-height: 36px;
    cursor: pointer;
    text-decoration: none;

    &:first-child {
      padding-left: 20px;
    }
    &::after {
      content: '>';
      margin: 0 20px;
    }
    &:last-child::after {
      content: '';
    }

    &.active {
      span {
        cursor: initial;
        font-weight: 500;
      }
    }
  }
}

.loader {
  width: 100%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 100;

  &__wrapper {
    width: 40vw;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
}

.gallery {
  max-width: 86vw;
  margin: 0 auto;
  padding: 12px;
  place-content: center;

  .gallery-item {
    margin: 12px;
    border-radius: 12px;
    background-color: #fafafa;
    cursor: pointer;

    &:hover {
      box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.2), 0 8px 8px 0 rgba(0, 0, 0, 0.14), 0 8px 8px 0 rgba(0, 0, 0, 0.12) !important;
      transform: translate3d(0, 0, 0);
      transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.toast {
  &__success {
    background-color: $success-bg;
    color: $success-color;
  }
  &__error {
    background-color: $error-bg;
    color: $error-color;
  }
}

.stats-view {
  background-color: white;
  color: black;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.2), 0 8px 8px 0 rgba(0, 0, 0, 0.14), 0 8px 8px 0 rgba(0, 0, 0, 0.12) !important;
  text-transform: capitalize;
  text-align: center;

  &__header {
    font-size: 18px;
  }

  &__content {
    font-size: 20px;
    font-weight: bold;
  }
}



.users {
  max-width: 86vw;
  margin: 0 auto;
  padding: 12px;
  place-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  mat-card {

    width: 250px;
    margin: 12px;
    border-radius: 12px;
    cursor: pointer;

    &:hover {
      box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.2), 0 8px 8px 0 rgba(0, 0, 0, 0.14), 0 8px 8px 0 rgba(0, 0, 0, 0.12) !important;
      transform: translate3d(0, 0, 0);
      transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    mat-card-content{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
      .mat-badge-content{
        font-size: 10px;
      }
    }
  }
}