<mat-toolbar>
  <span>Challenger</span>
  <button mat-flat-button>Collections</button>
</mat-toolbar>
<div class="gallery">
  <ng-container *ngFor="let collection of collections$ | async">
    <mat-card class="gallery-item" [routerLink]="'collection/'+collection.id">
      <mat-card-title>{{collection.title}}</mat-card-title>
      <mat-card-content
        fxLayout="row"
        fxLayoutAlign="center"><img [src]="collection.cover_photo.urls.thumb" [alt]="collection.cover_photo.description"/></mat-card-content>
    </mat-card>
  </ng-container>
</div>
