<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-button [routerLink]="'/'">{{ "menu.challenger" | translate }}</a>
    <div>
      <a mat-button [routerLink]="'collections'">{{ "menu.collections" | translate }}</a>
      <a mat-button [routerLink]="'topics'">{{ "menu.topics" | translate }}</a>
      <a mat-button [routerLink]="'search'">{{ "menu.search" | translate }}</a>
      <a mat-button [routerLink]="'stats'">{{ "menu.stats" | translate }}</a>
    </div>
    <div><ng-container #language></ng-container></div>
  </mat-toolbar-row>
</mat-toolbar>

<app-breadcrumbs></app-breadcrumbs>
<div [hidden]="!loading"><ng-container #loader></ng-container></div>
<router-outlet></router-outlet>
