<div class="layout-container">
  <div class="gallery" fxLayout.sm="column" fxLayout.gt-sm="row wrap">
    <ng-container *ngFor="let photo of photos$ | async">
      <app-photo-list-item
        fxFlex
        fxFlex.gt-sm="28"
        fxFlex.gt-lg="20"
        [photo_url]="photo.urls.small"
        [photo_description]="photo.alt_description!"
        (click)="handleGotoPhoto(photo)"
      >
        <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="12px">
          <p>
            <mat-icon inline>favorite</mat-icon>
            {{ photo.likes }} likes
          </p>
        </div>
      </app-photo-list-item>
    </ng-container>
  </div>
</div>
